@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:ital@0;1&display=swap');

.black-test
{
    background-color: black;
}
.pd-new
{
    padding-top: 0;

}
.text-blue
{
    padding-bottom: 73px !important;
    font-family: 'Poppins', sans-serif;
}